<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="false">

  <contextName>ppmselector</contextName>

  <springProfile name="local">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d [%thread] %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>

  </springProfile>


  <springProfile name="gcp">

    <include resource="com/google/cloud/spring/logging/logback-json-appender.xml" />

    <root level="INFO">
      <appender-ref ref="CONSOLE_JSON" />
    </root>

  </springProfile>

</configuration>

